#cachorro{
   position: absolute;
    top: 500px;
    left: 300px;
    border: 2px solid darkblue; 
    border-radius: 5px;
}

#cachorro2 {
    position: absolute;
    top: 550px;
    left: 300px;
    border: 2px solid darkblue; 
    border-radius: 5px;
}



#botao {
    position: absolute;
    top: 600px;
    left: 300px;
    border-radius: 5px;
    border-color: darkblue;
    border-style: solid; 
    border-width: 2px; 

}

#logosenai{
    position: absolute;
    top:250px;
    left: 215px
}

#fundoindex{
    position: absolute;
    top:0px;
    left: 900px
}

#tabela{
    width: 1300px;
    position: absolute;
    top: 0px;
    left: 5px;

}


